.navbar-brand{
    font-family: 'Meow Script', cursive;
}
.nav-item{
    font-family: 'Fuzzy Bubbles', cursive;
}

.carousel-item{
    object-fit:cover;
            width:100%;
            height:500px;
    
}